name: Build and deploy React app to Azure Web App - transcribe-voice

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Upload build folder
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: react-build
          path: build

      - name: Zip build contents correctly
        run: |
          cd build
          zip -r ../build.zip *

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2892D2AF8E614EF5B875AD66607F776F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C8FA4619ADB0400E916938E7407EFBBA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4D5E6AB2DD0D4B64B6FBC56EF3C031D5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'transcribe-voice'
          slot-name: 'Production'
          package: build.zip
